<?xml version="1.0"?>
<launch>

  <!-- LAZY SUSAN TURNTABLE -->

  <arg name="table_height" default=".2" />
  <arg name="control_delay" default="5"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find meam520_labs)/urdf/turntable.xacro" />

  <rosparam command="load" file="$(find meam520_labs)/config/turntable_controller.yaml" />

  <!-- Spawn a turntable into Gazebo -->
  <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model turntable
  -x 0 -y 0 -z $(arg table_height)
  -R 0 -P 0 -Y 0
  -robot_namespace turntable
  " />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

  <node name="turntable_controller_spawner" pkg="controller_manager" type="spawner"
    output="screen" respawn="false" args="turntable/turntable_controller"
    launch-prefix="bash -c 'sleep $(arg control_delay); $0 $@' " />

</launch>
